<% if (messages && messages.length > 0) { %>
  <% messages.forEach(message => { %>
    <div class="alert alert-<%= message.type || 'info' %>">
      <p><%= message.text %></p>
    </div>
  <% }) %>
<% } %>