<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>RANN</h1>
  </header>

  <main>
    <h2><%= title %></h2>
    <p><%= message %></p>
    <a href="/">Go back to Home</a>
  </main>

  <footer>
    <p>&copy; 2025 RANN</p>
  </footer>
</body>
</html>